<div class="container">
  <div class="content">
    <div class="image">
      <img class="background-image" src="assets/images/feuerwehrman.jpeg" alt="bg-image">
    </div>
    <div class="log-in">
      <span class="welcome-msg">Willkomen in der Kleiderkammer</span>
      <span class="login-msg">Anmelden</span>
      <input class="input login" placeholder="Benutzername" #loginInput>
      <div class="password-container">
        <input class="input password" [type]="isOpenTheme()" placeholder="Passwort" #passwordInput>
        <button class="tick" (mousedown)="isOpen=false" (mouseup)="isOpen=true" (mouseleave)="isOpen=true">
          <ng-container *ngIf="isOpen">
            <img class="image-toggle" src="assets/images/close-toggle.svg" alt="close">
          </ng-container>
          <ng-container *ngIf="!isOpen">
            <img class="image-toggle" src="assets/images/open-toggle.svg" alt="open">
          </ng-container>
        </button>
      </div>
      <div class="button" (click)="login(loginInput.value,passwordInput.value)">Einloggen</div>
    </div>
  </div>
</div>

