<div class="canvas" [ngClass]="theme">
  <header class="header" [ngClass]="theme">
    <span class="switch-text" [ngClass]="[theme, isSelect(0)]" (click)="selectTheme('aktiv')">Aktiv</span>
    <span class="switch-text" [ngClass]="[theme, isSelect(1)]" (click)="selectTheme('jugend')">Jugend</span>
    <span class="title" [ngClass]="theme" *ngIf="isMobile">Kleiderkammer</span>
  </header>

  <header class="search-header">
    <div class="search-content" [ngClass]="[theme,isSelect(2)]" (click)="isSearchFieldOpen = true"
         (clickOutside)="isSearchFieldOpen = false">
      <span class="search-text" [ngClass]="[theme,isSelect(2)]">suchen</span>
      <input class="search-input" placeholder="suchen" [ngClass]="isSelect(2)" [(ngModel)]="filter">
      <div class="search-result">
        <ng-container *ngIf="searchUser().length != 0">
          <ng-container *ngFor="let user of searchUser()">
            <user-element [Name]="user.Name" [Vorname]="user.Vorname" [filter]="filter" [theme]="theme"></user-element>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="searchUser().length == 0">
          <span class="no-results-text">Keine Results</span>
        </ng-container>
      </div>
    </div>
  </header>
</div>
