$free-speech-red: #B02200;
$anakiwa: #87D0E8;
$feldspar: #D48573;
$bismark: #4A7280;
$maya-blue: #55ADFF;
$vivid-tangerine: #FF7D7D;
$cornflower: #8EC8E6;
$coral-candy: #F4CBC6;
$pale-sky: #626C73;
$dawn: #A19A92;
$dark-red: #860000;
$venice-blue: #2D5F83;

