$red: #FF7D7D;
$yellow: #FCF55C;
$beige: #FFF5DC;
html {
  background: linear-gradient(180deg, #FF7D7D 0%, rgba(252, 245, 92, 0.45) 75%, #FFFFFF 100%);
}

html, body {
  height: 100% !important;
  margin: 0;
  font-family: Impact, system-ui !important;
}



